*{
  box-sizing: border-box;
}
body {
  line-height: 2;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
  text-decoration: none;
  color:inherit;
}

a:hover{
  opacity: 0.5;
  transition: 0.5s;
}
img{
  width: 100%;
  height: auto;
}

.header{
  display: flex;
  justify-content: between;
  align-items: center;
  height:70px;
  padding:0 30px;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #fff;
}
.header__ttl{
  font-size:27px;
  width:80px;
}
.header__nav{
  margin: 0px 0px
  0px auto;
}
.header__nav-list{
  display: flex;
  font-weight: bold;
}
.header__nav-item:not(:last-child){
  margin-right: 30px;
}
.menu {
  display: none;
}
.drawer {
  display: none;
}

.top{
  height: 80vh;
  background-image: url(../img/mv.png) ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.top__main-text{
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}
.top__sub-text{
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  margin-top: 20px;
}
.top2{
  padding: 110px 7% 110px 7%;
  background-color: rgb(29, 27, 27);
  color:#fff;
}
.top2__main-text{
  font-size: 30px;
}
.top2__sub-text{
  margin-top: 20px;
  line-height: 25px;
}

.service__ttl{
  text-align: center;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.service__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.service__item{
  width: 40%;
  margin: 0 auto;
}
.service__item-ttl{
  margin-top: 15px;
  margin-bottom: 15px;
}
.service__item-text{
  margin-bottom: 30px;
  line-height: 25px
}
.service__btn{
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: rgb(206, 8, 8);
  width: 280px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}

.news{
  background-color: rgb(29, 27, 27);
  margin-top: 110px;
  padding-bottom: 70px;
}
.news__content{
  padding: 0 8% 0 8%;
}
.news__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__ttl{
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 50px;
  color: #fff;
}
.news__btn{
  font-weight: bold;
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: rgb(206, 8, 8);
  width: 180px;
  height: auto;
}
.news__item-link{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
}
.news__item-date{
  margin-right: 20px;
}

.blog{
   margin-top: 70px;
}
.blog__ttl{
  font-size: 30px;
  text-align: center;
}
.blog__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.blog__item{
  width: 30%;
  margin: 0 auto;
  line-height: 25px
}
.blog__btn{
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: rgb(206, 8, 8);
  width: 280px;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
}

.company__btn{
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  margin-top: 70px;
}
.company{
  width: 50vw;
}
.company__ttl{
  background-color: rgb(206, 8, 8);
}
.recruit{
  width: 50vw;
}
.recruit__ttl{
  background-color: rgb(29, 27, 27);
}
.company__item{
  width: 100%;
  display: inline-block;
  line-height: 9;
  text-align: center;
}

.contact{
  background-color: rgb(243, 243, 243);
  padding: 90px 0 90px 0;
  margin-top: 70px;
  text-align: center;
}
.contact__ttl{
  font-size: 30px;
  margin-bottom: 20px;
}
.contact__btn{
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: rgb(206, 8, 8);
  width: 280px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.footer {
  width: 100%;
  padding: 20px 30px;
  color: #fff;
  background-color: rgb(29, 27, 27);
}
.footer__content {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; 
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__item:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
.footer__item:last-child:after {
  display: none;
}

@media screen and (max-width: 768px){
  body{
    width: 100vw;
  }
  .header__nav{
    display: none;
  }
  .menu{
    margin: 0 0 0 auto;
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }
  .menu__line-top,
  .menu__line-middle,
  .menu__line-bottom{
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line-top{
    top: 0;
  }
  .menu__line-middle{
    top: 14px;
  }
  .menu__line-bottom{
    bottom: 0px;
  }
  .menu.open span:nth-of-type(1){
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2){
    opacity: 0;
  }
  .menu.open span:nth-of-type(3){
    top: 14px;
    transform: rotate(-45deg);
  }
  .drawer{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #fff;
    transition: .7s;
    text-align: center;
  }
  .drawer__list{
    padding-top: 80px;
  }
  .drawer__item{
    margin-top: 50px;
    color: rgb(21, 21, 194);
  }
  .in{
    transform: translateX(100%);
  }
  .copy{
    margin: 0 auto;
  }
  .footer__item{
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
  .footer__item:after{
    display: none;
  }
  .top__text{
    padding: 0 20px;
    
  }
  .top__main-text{
    line-height: 90px;
  }
  .top2__text{
    padding: 0 20px;
  }
  .service__item{
    width: 80%;
  }
  .news{
  width: 100%;
}
  .news__item-link{
    padding: 10px;
    font-size: 14px;
  }
  .blog__item{
    width: 80%;
  }
  .contact{
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact__text{
    line-height: 25px;
  }
}